<div class="container">
  <h2 class="title-section">{{ texts.services.title }}</h2>
  <p class="desc">{{ texts.services.desc }}</p>
  {{!-- Desktop --}}
  <div class="desktop">
    <div class="services">
      <div class="service service-active" id="service">
        <h1 class="title-service">{{ texts.services.front_end.title }}</h1>
        <div class="line-div"></div>
        <p class="desc-service">{{ texts.services.front_end.desc }}</p>
      </div>
      <div class="service" id="service">
        <h1 class="title-service">{{ texts.services.back_end.title }}</h1>
        <div class="line-div"></div>
        <p class="desc-service">{{ texts.services.back_end.desc }}</p>
      </div>
      <div class="service" id="service">
        <h1 class="title-service">{{ texts.services.mobile.title }}</h1>
        <div class="line-div"></div>
        <p class="desc-service">{{ texts.services.mobile.desc }}</p>
      </div> <!-- End Service -->
    </div> <!-- End Services -->
  </div>
  {{!-- Mobile --}}
  <div class="mobile">
    <div class="services">
      <div class="service service-active" id="service">
          <h1 class="title-service">{{ texts.services.front_end.title }}</h1>
          <div class="line-div"></div>
          <p class="desc-service">{{ texts.services.front_end.desc }}</p>
      </div>
      <div class="service service-active" id="service">
          <h1 class="title-service">{{ texts.services.back_end.title }}</h1>
          <div class="line-div"></div>
          <p class="desc-service">{{ texts.services.back_end.desc }}</p>
      </div>
    </div>
  </div>

</div>
